/* section {
    padding: 2rem 9%;
} */

.create-review {
    /* display: flex;
    flex-direction: row; */
    border: .1rem solid #426B1F;
    background-color: #426B1F;
}

.box-create {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.review-textarea {
    border-radius: 6px;
    padding: 2rem;
    background: white;
    color: #272727;
} 

.review-input {
    padding: 1rem 5rem;
    border-radius: 6px;
}

.box-number {
    display: flex;
    flex-direction: column;
}

.sublikes{
    letter-spacing: .1rem;
    
}

.heart-like:hover {
    border-color: .1rem solid #426B1F;
}

i {
    color:#426B1F;
    font-size: 1rem;
}

label {
    color: #272727;
}

/* =====> REVIEW <==== */
.renderMyReview {
    display: flex;
    flex-direction: column;
}

.rate-comment {
    font-size: 2rem;
    font-weight: 600;
}

/* modif comment */

/* .edit_review{
    display: none;
} */
.edit_review{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: 10;
}
.edit_review .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}
.edit_review input,
.edit_review button{
    width: 80%;
}
.edit_review input{
    border-bottom: 2px solid black;
}
.x-btn{
    position: relative;
    top: -39%;
    right: 3%;
    font-size: 30px;
    font-weight: 900;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}