/* ============> PAGES : CREATE PLACES / PLACES / RENDER PLACES / SHOW PLACES <============ */

/* #test{
    height: 100%;
    width: 80%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
} */
.boxPlaces {
  height: 32rem;
  width: 30rem;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  /* background-color: blueviolet; */
  border: 0.1rem solid #426b1f;
}

/* ============> SHOW <============*/

.renderPlaceParent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showPlaceContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showTitle {
  color: #272727;
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.showContent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5%;
  width: 80%;
  height: 70%;
}

.showFile {
  width: 40%;
  height: 27%;
  flex-grow: 2;
}



.about {
  width: 50%;
  border: 0.1rem solid #426b1f;
  border-radius: 5px;
  padding: 5px 10px;
  flex-grow: 6;
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  margin: 1rem 1rem;
  padding-bottom: 1rem;
  color: #272727;
  text-align: start;
  border-bottom: 0.1rem solid #426b1f;
}

.aboutParagraphe{
  margin: 0 1rem;
  color: #272727;
  text-align: justify;
}

.locationIcon{
  color: rgba(51, 113, 34, 0.688);
}

.adresse {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #272727;
  font-weight: 200;
  letter-spacing: .2rem;
}

.adresseInformation{
  margin-right: .2rem;
}

.buttonShow{
  margin-top: 2rem;
  margin-right: 2rem;
}

.buttonShow:hover {
  background-color: red;
}

/* ============> MAP */

.showMap {
  border: 0.1rem solid #426b1f;
  display: flex;
  flex-direction: column;
  margin: 2rem 10%;
  border-radius: 6px;
}

.showMapTitle{
  font-size: 1.6rem;
  color: #272727;
  margin: 1.5rem 0;
  text-align: start;
  padding-left: 2rem;
}

.image-place,
img {
  overflow: hidden;
  height: 25rem;
}

img {
  object-fit: cover;
  border-radius: 5px;
}

.content {
  font-size: 2rem;
  color: black;
  line-height: 2rem;
  margin-top: 23px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

/* ============> SECTION CRÉATION DE LIEUX <============ */

.createPlaceTitle {
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-left: 2.3rem;
}

.formCreatePlace form {
  height: 80%;
  width: 60%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formCreatePlace form input {
  height: 4rem;
  width: 90%;
  background-color: rgba(240, 248, 255, 0);
  /* border: none; */
  border: 0.1rem solid rgba(51, 113, 34, 0.688);
  padding: 2rem 2rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.3rem;
  margin: 0.5rem;
  /* margin-bottom: .2rem; */
}

.createPlaceDashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20%;
  margin-bottom: 5rem;
}

.createPlace {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 90rem;
}

.createCity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 65.2%;
}

.inputFileCreate {
  background-color: #426b1f;
}

.createSelect {
  color: #426b1f;
}

.inputSelectCategory {
  width: 43.7rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: black;
}
