*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.home,
.login{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchContainer{
    height: 100%;
    width: 50%;
}
.login{
    display: flex;
    justify-content: space-evenly;
}
