/* .navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem .2rem;
}

.brand {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-right: auto;
    color: #426B1F;
}

.home,
.login{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

.btn{
    background-color: #426b1f;
    color: white;
    padding: .7rem 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}

.searchContainer{
    height: 100%;
    width: 50%;
}
.login{
    display: flex;
    justify-content: space-evenly;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.3rem;
    /* background: rgba(51, 113, 34, 0.688); */
    /* color: #226b1f; */
    /* font-size: 1.5rem; */
    /* background: red; */
    /* backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(51, 113, 34, 0.688);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.boxLogo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    text-transform: initial;
    /* margin-right: auto; */
    color: white;
    /* margin-right: 10rem; */
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    /* margin-right: 2rem; */
}

.Link {
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    margin-right: 4rem;
    /* margin: 0 4rem ; */
    /* margin-left: .1rem; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-left: 2.8rem; */
}

/* .icons {
    font-size: 2.8rem;
    cursor: pointer;
    color: aliceblue;
    display: none;
} */

#check {
    display: none;
}
.icons {
    cursor: pointer;
    font-size: 2.5rem;
    display: none;
    position: absolute;
    right: 5%;

}

/* BREAKPOINTS */
@media screen and (max-width: 992px) {
    .header {
      padding: 1.3rem 1%;
    }
  }

  @media screen and (max-width: 768px) {
    .icons {
      display: inline-flex;
      color: white;
    }

    #check:checked~.icons #icon-menu {
        display: none;
    }

    .icons #close-menu {
        display: none;
    }

    #check:checked~.icons #close-menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 7rem;
        /* background: #426b1f; */
        background: rgba(66, 107, 31, 0.888);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .Link{
        display: block;
        font-size: 1.1rem;
        margin: 1rem 0;
        text-align: center;
    }
  }