.homePage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar,
.filterNavContainer {
  height: 30%;
  width: 100%;
}

/* ===========> PAGE HOME : VITRINE <=========== */

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  height: 21rem;
  margin-top: 11rem;
  color: white;
  border-radius: 12px;
  width: 95rem;
  font-size: 2rem;
  text-transform: initial;
  padding-top: 3rem;
  overflow: hidden;
  position: relative;
}

.showcase video {
  background-size: cover !important;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.showcase .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #e5eee7;
  font-size: 25px;
  padding: 100px;
}