*{
    margin: 0;
    padding: 0;
}
.auth{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer{
    position: absolute;
    top: 0;
    height: 15%;
    width: 100%;
}
.formRegister{
    position: relative;
    top: 5%;
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choice-btn {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
}
.choice-btn p{
    height: 100%;
    width: 50%;
    text-transform: uppercase;
    background-color: white;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
}
.formRegister form {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.formRegister form input{
    height: 30px;
    width: 90%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-bottom: 2px solid black;
    padding-left: 20px;
    box-sizing: border-box;
}
.formRegister form input:focus{
    outline: none;
}
.formRegister form button:hover{
    background-color: green;
    border: none;
}
.formRegister label{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
    gap: 2%;
}
.formRegister label input{
    width: 10%;
    height: 75%;
}
.navbar,
.filterContainer{
    height: 50%;
    width: 100%;
}
