.page{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
}
.cardContainer{
    position: relative;
    top: 17%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    overflow-y: auto;
    padding: 0 5%;
    box-sizing: border-box;
}
.card{
    list-style-type: none;
    height: 300px;
    width: 270px;
    background-color: #0a2e63;
}